*{
    margin: 0;
    padding: 0;
}
#justify-content
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 700.5px;
}

#upperSection {
    /* border: 2px solid black; */

    display: flex;
    justify-content: space-between;
    max-height: 120px;
}
#searchFormBlock {
    /* border: 2px solid black; */

    margin-right: 2%;
    width: 800px;
}
#jobs {
    border: 1px solid #e1e1e1;
    width:49%;
    overflow-y: scroll;
}
li {
    margin: 1em; 
    padding: 1em; 
    background: white;
    border-radius: 5px;
    overflow: hidden;
}
li img {
    height: 50px;
    width: auto;
}
#searchForm{
    display:flex;
    flex-wrap:wrap;
}
select{
    background-color: white;
    box-sizing: content-box;
    padding-left: 2px;
    padding-right: 2px;
}

.inputField {
    width:  250px;
    height: 26px;
    margin: 5px;
    margin-bottom: 0;
    box-sizing: content-box;
    padding-left: 2px;
    padding-right: 2px;
    text-align: left;
    border-style: solid;
    border: 1px solid #e1e1e1;
    border-radius: 0;
    background-color: white;
}
.radChange{
    width: 28px;
    border-style: solid;
    border: 1px solid #e1e1e1;
    border-radius: 0;
    background-color: white;
}
.radText{
    align-items: center;
    padding-left: 5px;
    padding-right: 2px;
    padding-top: 5px;
}
select.inputField option {
    border-radius: 0px;
}

.upperSectionButton{
    height: 27.5px;
    padding-top: 0;
    font-size: 14px;
    background-color: white;
    border-radius: 0px;
    border-style: solid black;
    margin-left: 5px;
    margin-right: 2px;
    margin-top: 7px;
}


/*
#upperSectionButtons{
    display: flex;
    justify-content: center;
    width: 100%;
}
#searchSubmit{
    width:49%;
    height: 40px;
    margin: 5px;
    font-size: 14pt;
    
}
#userTest {
    position: absolute; 
    right: 50px;
    top: 20px;
}
#anzeige {
    background-color: red;
} */
#map-container {
    border: 2px solid grey;
    height: 2000px;
    overflow: hidden;
    margin: 1px;
    background-color: #ffffff;
}

.checkbox_auswahl{    
    background-color: rgba(255, 255, 255, 1);
    color: black;
    font-size: 1em;
    width: 300  px;
    z-index: 2;
    border: 1px solid lightgrey;
    height: 60%;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    margin:0;
    padding: 0;
    padding-left: 5px;
    white-space:nowrap; 
}

.checkbox_auswahl input {
    margin-top:0;
    padding-top:3px;
}
.checkbox_auswahl label {
    padding-top:4px;
    padding-bottom:4px;
    width:100%;
    display:inline-block;
    line-height:normal;
}

.checkbox_auswahl label:hover {
    background-color: #EBF0F7;
}
.checkbox_auswahl input:checked + label {
    background-color: #FFFFED;
}

.checkboxes{
    width: 15px!important;
    height: 15px!important;
}
.allJobs{
    padding-left: 7px;
}